{% extends "base.html" %}
{% load staticfiles %}

					

  {% block contenido%}



    <div class="container container-principal">



		<div class="row">
			<div class="col-md-12 bg-rojo header-titulo">

				<div class="">
					<div class="col-md-6 titulo">
						<h1 class="wow fadeInLeft">¿Cómo se ejecuta el presupuesto?</h1>
						<a class="btn btn-default  wow fadeInUp">Descargar este capítulo</a>
					</div>

					<div class="col-md-6 text-center">
						<img class=" ciclo wow fadeInUp img-responsive" src="{% static 'img/23-lupa.png' %} " > </img>
					</div>
				</div>
				
			</div>
			
		</div>



<div class="col-md-12">


<div class="row">

	<div class="col-md-12">

		<p>A partir del 1 de enero hasta el 31 de diciembre del año siguiente, los Organismos y Entidades del Sector Público proceden a ejecutar el Presupuesto aprobado.</p>
<p>Es importante el conocimiento del proceso de ejecución presupuestaria del gasto, cuyo resguardo y cumplimiento está a cargo del Ministerio de Hacienda (Art. 29 de la Ley 1535/99) y que identifica los siguientes requisitos e instrumentos requeridos para poder gastar bien.</p>
		<p>A partir de la promulgación de la Ley Anual de Presupuesto de la Nación, se debe tener en consideración los siguientes instrumentos:</p>




		

		</div>



</div>
		
		

		

		<div class="row">
			<h2>Decreto Reglamentario de la Ley que Aprueba el Presupuesto</h2>
			<div class="col-md-8">
				<p>La Ley anual que aprueba el PGN de cada ejercicio autoriza al poder Ejecutivo a Reglamentar la mencionada Ley (Para el ejercicio 2016 Decreto N° 4774/16).

</p>

<p>Marca los límites dentro del cual se debe realizar el proceso de ejecución presupuestaria anual y es el instrumento legal en el cual el Ministerio de Hacienda establece las normas, formularios e instructivos requeridos para poder gastar bien y ejecutar los distintos rubros como sueldos, contratos, compra de insumos, construcciones, pago de jubilaciones y pensiones y entrega de transferencias a entidades sin fines de lucro y personas etc.</p>

			</div>
			<div class="col-md-4 text-center">

				<img class=" ciclo wow fadeInUp" src="{% static 'img/29-decreto.png' %} " style="visibility: visible;width: 40%;"  > </img>

			</div>

		</div>

		<div class="row">
			<h2>Programación Financiera</h2>
			<div class="col-md-8">
					
					<p>Es un instrumento de Gerencia Financiera a través del cual el Ministerio Hacienda estima a principio de año las posibilidades reales de financiamiento del presupuesto aprobado.</p>
					<p>Las estimaciones incorporan los montos de dinero que se pretende recaudar en cada uno de los conceptos y el tiempo real en el que se recauda (estacionalidad) los ingresos, a fin de financiar el cumplimento de las actividades institucionales programadas.</p>
					<p>Constituye el instrumento técnico utilizado para la determinación de los topes o límites financieros a ser incorporados en el Plan Financiero.</p>
			</div>
			<div class="col-md-4 text-center">
				<img class=" ciclo wow fadeInUp" src="{% static 'img/31-grafico.png' %} " style="visibility: visible;width: 70%;" > </img>

			</div>	
		</div>

		<div class="row">
				<h2>Plan Financiero Institucional</h2>
			<div class="col-md-8">
				
					<p>Es un documento técnico por el cual los Organismos y Entidades del sector público realizan la programación mensual del Presupuesto anual autorizado, en el mismo las instituciones prevén los meses en el que van a usar sus rubros para pagar las obligaciones contraídas con las personas y empresas seleccionadas en las contrataciones de bienes, servicios y obras requeridas para el cumplimiento de las actividades de los programas, en función a los objetivos generales de las instituciones..</p>
					<p>El Plan Financiero es muy importante porque define el monto límite de dinero sobre los cuales las instituciones pueden contraer compromisos, es decir que en ningún caso las instituciones podrían comprometer un rubro cuyo monto sea superior al Plan Financiero aprobado. El Plan Financiero es aprobado por Decreto del Poder Ejecutivo. (para el ejercicio 2016 el PF fue aprobado por el Decreto N° 4931/16)</p>
			</div>
			<div class="col-md-4 text-center">
				<img class="img-responsive ciclo wow fadeInUp" src="{% static 'img/bolsa_de_dinero.png' %} " > </img>

			</div>	
		</div>


		<div class="row">
			<h2>PROCESO DE CONTRATACION</h2>
			<div class="col-md-8">
					
					<p>A partir de la aprobación del Plan Financiero las Unidades Operativas de Contrataciones de las instituciones pueden dar inicio a los procesos que  permitan contratar los bienes, servicios y obras requeridas para el cumplimiento de sus actividades prioritarias, para ello elaboran su Plan Anual de Contrataciones y solicitan el Certificado de Disponibilidad Presupuestaria CDP que les permite reservar el rubro y monto a ser utilizado.</p>
					<p>Con posterioridad se realiza el llamado y la adjudicación del beneficiario del procedimiento de contratación en función a las disposiciones normativas de la Ley N° 2051/03 de contrataciones, para finalmente solicitar y obtener el Código de Contratación CC, expedido por la Dirección Nacional de Contrataciones DNCP. Por el cual se certifica que el procedimiento fue realizado cumpliendo lo determinado por la mencionada Ley.</p>
			</div>
			<div class="col-md-4">
				<img class="img-responsive ciclo wow fadeInUp" src="{% static 'img/33-manos.png' %} " > </img>

			</div>	
		</div>

		<div class="row">
					<h2>OTROS INSTRUMENTOS</h2>
			<div class="col-md-8">
			
					<p>Además existen otros instrumentos:</p>
					<p> <b>Plan de Caja:</b> Es un instrumento de programación de fondos de corto plazo por el cual el Tesoro Nacional se compromete a entregar el Dinero a las instituciones de acuerdo a las prioridades previstas en el Plan Financiero.</p>
					<p><b>Registro de la Obligación:</b> La Obligación constituye el Compromiso de pago originado en un vínculo jurídico financiero entre un Organismo o Entidad del Estado y una persona física o jurídica.</p>
					<p><b>Solicitud de Transferencia de Recursos (STR):</b>  Con posterioridad al registro de la Obligación, la institución procederá a la elaboración de la Solicitud de Transferencia de Recursos STR, el mismo constituye un documento a través del cual la institución solicita al Ministerio de Hacienda la Transferencia o traspaso de dinero de las cuentas administradas por el Tesoro Nacional en el Banco Central del Paraguay a las cuentas bancarias de los proveedores y así proceder a disponer de los fondos para pagar la obligación contraída.</p>
					<p> <b>Pago de la Obligación: </b>constituye la etapa por el cual se registra el cumplimiento parcial o total de las obligaciones contraídas. Con posterioridad al depósito de los recursos en la cuenta bancaria del proveedor el banco operante emite la nota de depósito que confirma el traspaso del Dinero a su cuenta, el proveedor emite el Recibo de Dinero que constituye el documento utilizado para registrar el Pago o cancelación de la obligación asumida por el ente público respectivo, derivando toda la documentación respaldatoria para elaborar los legajos de Rendición de cuenta respectiva.</p>


			</div>
			<div class="col-md-4 text-center">
				<img class=" ciclo wow fadeInUp" src="{% static 'img/checklist.png' %} " style="visibility: visible;width: 50%;"  > </img>

			</div>	
		</div>








		

    	

	</div>

</div>
    {% endblock %}