{% extends "base.html" %}
{% load staticfiles %}

					

  {% block contenido%}



    <div class="container container-principal ciclo">



		<div class="bg-amarillo row header-titulo">
			<div class="col-md-12">

				<div class="">
					<div class="col-md-6 titulo">
						<h1 class="wow fadeInLeft">Equipo Técnico</h1>
						
					</div>

					<div class="col-md-6 text-center">
						
					</div>
				</div>
				
			</div>
			
		</div>
<div class="row">
				<div class="col-md-12 ">

<h4>MINISTERIO DE HACIENDA</h4>
					<ul>
						<li>Director General de Presupuesto: Oscar Lovera</li>
						<li>Coordinación Técnica y de Difusión: Elba Mencia</li>
						<li>Coordinación Sectorial: Dora Ocampos</li>
						<li>Dpto. Desarrollo Social: Rosa Coronel</li>
						<li>Dpto. Evaluación del Gasto Público: Monserrat Díaz</li>
						<li>Dpto. Control y Monitoreo del Gasto Público: Amada Silguero</li>
						<li>Dpto. Seguridad, Poder Legislativo y Judicial: Alicia Moyano</li>
						<li>Conduccion Superior y Otros: Jorge Fernandez</li>
						<li>Dpto. Gobiernos Departamentales y Universidades Nacionales: Derlys Martinez</li>
						<li>Planificacion Presupuestaria: Gilda Lorena Arias</li>
						<li>Asesora Gabinete del Ministro: GUILLERMINA FRIZZA</li>
					</ul>
		<h4>CEAMSO</h4>		

		<ul>
				<li>María Ofelia Yegros</li>
				<li>Gissela Peralta</li>
				<li>Arnaldo Morales Cocuesta</li>
				<li>Pilar Cabrera</li>
				<li>Leonardo Gómez Berniga</li>
				<li>Margarita Rojas</li>
				<li>Rodrigo Valdez</li>
				<li>Gabriela Porro</li>
				
		</ul>	

			


				</div>
</div>

</div>
    {% endblock %}