{% extends "base.html" %}
{% load staticfiles %}


  {% block contenido%}

<style type="text/css">
.tipo-presupuesto .col-md-6{

	/*min-height: 450px;*/

}

</style>

    <div class="container container-principal financiacion">

	<div class="bg-amarillo row  header-titulo">
			<div class="col-md-12">

				<div class="">
					<div class="col-md-6 titulo ">
						<h1 class="wow fadeInLeft">¿Qué es el presupuesto y cómo se financia?</h1>
						<a class="btn btn-default  wow fadeInUp">Descargar este capítulo</a>
					</div>

					<div class="col-md-6 text-center">
						<img class="ciclo wow fadeInUp " src="/static/img/dinero-01.png " style="visibility: visible;width: 60%;">
					</div>
				</div>
				
			</div>
			
		</div>

				
		
		<div class="col-md-12">

		<section>

			<div class="row">

				<div class="col-md-12">

					<p>El Presupuesto General de la Nación prevé la cantidad y el origen de los ingresos y determina el monto de los gastos autorizados y los mecanismos de financiamiento. Se elabora por programas y con técnicas  adecuadas para la asignación de los recursos financieros del Estado.</p>

					<p>Según el Art. 5 de la Ley de Administración Financiera del Estado el presupuesto es el conjunto de normas, técnicas, métodos y procedimientos empleados y de organismos involucrados en el proceso presupuestario, en sus fases de programación, formulación, aprobación, ejecución, modificación, control y evaluación de los ingresos y egresos y su financiamiento.</p>
				</div>

				<div class="col-md-8">
					

					<h2 class="wow fadeInLeft" data-wow-delay="0.1s">Principios presupuestarios</h2>
					<p>La administración del presupuesto está sujeta a los siguientes principios (Art.6 - Ley 1535/99):</p>
					<ul>
						<li>Universalidad</li>
						<li>Legalidad</li>
						<li>Unidad</li>
						<li>Anualidad</li>
						<li>Equilibrio</li>
					</ul>


				</div>
				<div class="col-md-4">

					<img src="" class="img-responsive">



				</div>

			</div>
			
	</section>

		<section>
			<h2 class="wow fadeInLeft"  data-wow-delay="0.6s">¿Qué es un programa?</h2>
			<div class="col-md-4 ">
				<div class="text-center">
					<img src="{% static 'img/31-grafico.png' %} " class="grafico wow fadeInUp">
				</div>
				

			</div>

			<div class="col-md-8">
					<p>Es el instrumento presupuestario destinado a cumplir las funciones del Estado y sus planes a corto plazo y por el cual se establecen objetivos, resultados y metas a cumplirse mediante un conjunto de acciones integradas y obras específicas coordinadas, empleando los recursos humanos, materiales y financieros asignados a un costo global y unitario. Su ejecución queda a cargo de una unidad administrativa. (Art.10– Ley 1535/99).</p>
			</div>
	</section>

		<section class="tipo-presupuesto">
			<div class="col-md-12">
				<h2 class="wow fadeInLeft" data-wow-delay="1s">Tipos de Presupuesto</h2>

			<p>Los presupuestos se clasifican de la siguiente manera:</p>

	


			</div>

			<div class="row">

			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
				<div class="well">

					
				
				<h4>TIPO 1: PRESUPUESTOS DE PROGRAMAS DE ADMINISTRACION</h4>
				<p>Incorpora la asignación de recursos destinados a financiar los gastos que inciden sobre el funcionamiento general de las instituciones, tales como los recursos que se usan para cubrir gastos de administración, de dirección, gestión, supervisión, etc.</p>
				<p>Se incluyen los gastos que sostienen el funcionamiento general operativo de las instituciones (Remuneraciones de Ministros, Vice Ministros, insumos, equipamientos, etc.), destinados a sostener el aparato administrativo requerido. Ej. Programa Administración General.</p>	


				</div>
				
			</div>
			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
				<div class="well">
						
				
				<h4>TIPO 2: PRESUPUESTOS DE PROGRAMAS DE ACCION</h4>
				<p>Incorpora la asignación de recursos destinados a financiar programas técnicos relacionados a la función, producto o servicio que presta la institución y que permite identificar claramente sus objetivos y metas cuantificables, la incorporación de unidades de medidas e indicadores de gestión que se necesita para realizar el seguimiento y monitoreo de los mismos en unidades de tiempo. Ej. Programa de Abastecimiento de Agua y Saneamiento Ambiental, Control y vigilancia de enfermedades transmitidas por vectores, etc.</p>

				</div>
			
			</div>

			</div>

			<div class="row">
			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.9s">
				<div class="well">
					<div class="text-center">
					
				</div>
				
				<h4>TIPO 3: PRESUPUESTOS DE PROGRAMAS DE INVERSION</h4>
				<p>Incorpora la asignación de recursos destinados a financiar proyectos específicos que serán ejecutados dentro de un período de tiempo preestablecido y que deben permitir identificar, plazo de ejecución, el monto a invertir, las inversiones proyectadas cada año, origen del financiamiento, cronograma de ejecución y resultados que se esperan alcanzar con los recursos obtenidos en el transcurso y al final del ejercicio fiscal. Ej. Proyecto de agua potable y saneamiento para comunidades rurales e indígenas, financiado por el BID.</p>
					

				</div>
				
			</div>

			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.9s">
				<div class="well">
					<div class="text-center">
				
				</div>
				
				<h4>TIPO 4: PRESUPUESTOS DE PROGRAMAS DEL SERVICIO DE LA DEUDA PÚBLICA</h4>
				<p>Incorpora la asignación de recursos destinados a financiar los programas identificados para atender el servicio (pago) de la deuda pública interna y externa proveniente de las operaciones de crédito público. La programación del Servicio o pago de la Deuda Pública de la Administración Central debe preverse en el Presupuesto del Ministerio de Hacienda y en los Organismos y Entidades del Estado.</p>
					

				</div>
				
			</div>
			</div>

			
		</section>


		<section>
			<div class="col-md-12">
				<h2 class="wow fadeInLeft" data-wow-delay="1s">Fuentes de financiamiento</h2>

			<p>La Clasificación por Fuente de Financiamiento fue diseñada a fin de tener un ordenamiento del registro de los
			Ingresos Públicos en función a su origen y naturaleza y de asígnalos sistemáticamente hacia el financiamiento
			de los Gastos de los Organismos y Entidades del Estado.</p>

			<p>Estas Fuentes se clasifican en:</p>


			</div>

			<div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
				<div class="well">

					<div class="text-center"><img class=" img-card" src="{% static 'img/impuestos-01.png' %}"></div>
				
				<h3>10 - Recursos del tesoro</h3>
				<p>Ingresos Ordinarios recaudados durante el año por el Ministerio de Hacienda y que son destinados para el financiamiento de los gastos de	funcionamiento e inversiones de los	Organismos y Entidades del Estado.</p>
				<p>Incluye el dinero provenientes del pago de ingresos tributarios y no	tributarios (IVA, Renta, Royalties de Itaipú y Yacyretá, venta de algún	bien o servicio Público, etc).</p>	


				</div>
				
			</div>
			<div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
				<div class="well">
							<div class="text-center"><img class=" img-card" src="{% static 'img/dinero1-01.png' %}"></div>
				
				<h3>20 - Recursos del Crédito Público</h3>
				<p>Ingresos que el Estado obtiene y que	derivan del Endeudamiento Público Interno (colocación de bonos del
				Tesoro, letras de tesorería, etc) y	Endeudamiento Público Externo(obtención de préstamos contrata-
				dos directamente por el Estado con organismos multilaterales de crédito, gobiernos extranjeros o instituciones financieras privadas del	exterior.</p>

				</div>
			
			</div>
			<div class="col-md-4 wow fadeInUp" data-wow-delay="0.9s">
				<div class="well">
					<div class="text-center">
					<img class=" img-card" src="{% static 'img/logosempresas-01.png' %}">
				</div>
				
				<h3>30 - Recursos institucionales</h3>
				<p>Ingresos generados por la producción y venta de bienes o la prestación de servicios de determinados Organismos y Entidades del Estado (Luz, Agua, Teléfono,Tasa Judicial, venta de estampillasetc.).</p>
					<p>Incluye además el dinero que en concepto las donaciones tanto internas como externas reciben los Organismos y Entidades del Estado.</p>


				</div>
				
			</div>

			
		</section>

		<section>
			<div class="row">
				<div class="col-md-12 text-center">

			

					<a href="" class="btn btn-default">descargá la guía presupuesto ciudadano</a>


				</div>

			</div>	

		</section>

	</div> <!-- Col-md-12-->

    </div>



    {% endblock %}