{% extends "base.html" %}
{% load staticfiles %}


  {% block contenido%}



    <div class="container container-principal financiacion">

	<div class="bg-amarillo row  header-titulo">
			<div class="col-md-12">

				<div class="">
					<div class="col-md-6 titulo ">
						<h1 class="wow fadeInLeft">¿Como se Financia el presUpuesto?</h1>
						<a class="btn btn-default  wow fadeInUp">Descargar este capítulo</a>
					</div>

					<div class="col-md-6 text-center">
						<img class="ciclo wow fadeInUp " src="/static/img/dinero-01.png " style="visibility: visible;width: 60%;">
					</div>
				</div>
				
			</div>
			
		</div>

				
		
		<div class="col-md-12">

		<section>

			<div class="row">

				<div class="col-md-12">

						<p>Para elaborar el Presupuesto General de la Nación es importante tener en cuenta que es necesario
					utilizar algunos elementos e instrumentos que exigen las leyes y que hacen relación a la técnica a
					utilizarse y la estructura o forma que debe tener:</p>
				</div>

				<div class="col-md-8">
					

					<h2 class="wow fadeInLeft" data-wow-delay="0.1s">Presupuesto Base Cero</h2>
					<p>El Presupuesto Base Cero es una técnica para que la información de Ingresos y Gastos se puedan definir los requerimientos presupuestarios de cada institución sin tener en cuenta los antecedentes.</p>
					<p>Con esta técnica se busca sistematizar la información en formularios que permitan responder fundamentalmente a
					las siguientes preguntas
					<ul>
						<li>Cuánto podemos gastar</li>
						<li>Dónde y cómo podemos gastar con más eficiencia</li>
					</ul>
					 </p>

					<p>En forma complementaria el Ministerio de Hacienda inició a partir del Presupuesto para el Ejercicio
					Fiscal 2016, la implementación gradual de la Gestión por Resultados (GPR).</p>


				</div>
				<div class="col-md-4">

					<img src="" class="img-responsive">



				</div>

			</div>
			
	</section>

		<section>
			<h2 class="wow fadeInLeft"  data-wow-delay="0.6s">Gestión por resultados (GPR)</h2>
			<div class="col-md-4 ">
				<div class="text-center">
					<img src="{% static 'img/31-grafico.png' %} " class="grafico wow fadeInUp">
				</div>
				

			</div>

			<div class="col-md-8">
					<p>Es un enfoque moderno de gerencia pública que pretende
					la asignación del dinero público dentro del proceso presupuestario orientado hacia la obtención de Resultados
					institucionales.</p>
					<p>Este enfoque pretende además alinear el Proceso de Planificación con los programas Presupuestarios y fortalecer el proceso de Programación, ejecución, monitoreo, evaluación y rendición de cuentas de la Gestión Presupuestaria.</p>		

			</div>
	</section>
		<section>
			<div class="col-md-12">
				<h2 class="wow fadeInLeft" data-wow-delay="1s">Fuentes de financiamiento</h2>

			<p>La Clasificación por Fuente de Financiamiento fue diseñada a fin de tener un ordenamiento del registro de los
			Ingresos Públicos en función a su origen y naturaleza y de asígnalos sistemáticamente hacia el financiamiento
			de los Gastos de los Organismos y Entidades del Estado.</p>

			<p>Estas Fuentes se clasifican en:</p>


			</div>

			<div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
				<div class="well">

					<div class="text-center"><img class=" img-card" src="{% static 'img/impuestos-01.png' %}"></div>
				
				<h3>10 - Recursos del tesoro</h3>
				<p>Ingresos Ordinarios recaudados durante el año por el Ministerio de Hacienda y que son destinados para el financiamiento de los gastos de	funcionamiento e inversiones de los	Organismos y Entidades del Estado.</p>
				<p>Incluye el dinero provenientes del pago de ingresos tributarios y no	tributarios (IVA, Renta, Royalties de Itaipú y Yacyretá, venta de algún	bien o servicio Público, etc).</p>	


				</div>
				
			</div>
			<div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
				<div class="well">
							<div class="text-center"><img class=" img-card" src="{% static 'img/dinero1-01.png' %}"></div>
				
				<h3>20 - Recursos del Crédito Público</h3>
				<p>Ingresos que el Estado obtiene y que	derivan del Endeudamiento Público Interno (colocación de bonos del
				Tesoro, letras de tesorería, etc) y	Endeudamiento Público Externo(obtención de préstamos contrata-
				dos directamente por el Estado con organismos multilaterales de crédito, gobiernos extranjeros o instituciones financieras privadas del	exterior.</p>

				</div>
			
			</div>
			<div class="col-md-4 wow fadeInUp" data-wow-delay="0.9s">
				<div class="well">
					<div class="text-center">
					<img class=" img-card" src="{% static 'img/logosempresas-01.png' %}">
				</div>
				
				<h3>30 - Recursos institucionales</h3>
				<p>Ingresos generados por la producción y venta de bienes o la prestación de servicios de determinados Organismos y Entidades del Estado (Luz, Agua, Teléfono,Tasa Judicial, venta de estampillasetc.).</p>
					<p>Incluye además el dinero que en concepto las donaciones tanto internas como externas reciben los Organismos y Entidades del Estado.</p>


				</div>
				
			</div>

			
		</section>

		<section>
			<div class="row">
				<div class="col-md-12 text-center">

			

					<a href="" class="btn btn-default">descargá la guía presupuesto ciudadano</a>


				</div>

			</div>	

		</section>

	</div> <!-- Col-md-12-->

    </div>



    {% endblock %}