{% extends "base.html" %}
{% load staticfiles %}

					

  {% block contenido%}

 <link rel="stylesheet" href="{% static 'bubble_chart/css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'bubble_chart/css/bubble_chart.css' %} ">

    <div class="container container-principal gastos">

<style type="text/css">


@import url(../style.css?aea6f0a);

#treemap {
  width: 100%;
  height: 500px;
  background: #ddd;
}

#treemap text {
  pointer-events: none;
}

#treemap .grandparent text {
  font-weight: bold;
}

#treemap rect {
  fill: none;
  stroke: #fff;
}

#treemap rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

#treemap .grandparent rect {
  fill: orange;
}

#treemap .grandparent:hover rect {
  fill: #ee9700;
}

#treemap .children rect.parent,
#treemap .grandparent rect {
  cursor: pointer;
}

#treemap .children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

#treemap .children:hover rect.child {
  fill: #bbb;
}

#burbuja 
{
  min-height: 400px;
}



</style>

		<div class="row bg-verde margin header-titulo">
			<div class="col-md-12">

				<div class="">
					<div class="col-md-6 titulo">
						<h1 class="wow fadeInLeft">¿En qué se gasta el presupuesto?</h1>
						
					</div>

					<div class="col-md-6 text-center">
						<img class=" moneda-gasto wow fadeInUp" src="{% static 'img/24-moneda.png' %} " > </img>
					</div>
				</div>
				
			</div>
			
		</div>

		<p>El Presupuesto General de la Nación contiene la previsión de los ingresos y la asignación de los gastos.

Los gastos son los montos que el Estado calcula utilizar para:</p>


<ul>
<li>construir caminos, puentes, hospitales, escuelas,</li>
<li> brindar servicios de luz, apoyo a estudiantes a través de becas,</li>
<li>apoyar a programas de combate a la pobreza, asistencia a adultos mayores, asistencia a niños de la calle, asistencia a la población en casos de emergencia, etc.</li>
</ul>


<h3>En el 2015 de cada 100.000 gs se gastó:</h3>
<div class="col-md-12 text-center">

<img src="/static/img/Billete-gs.png" class="" style="
    max-width: 100%;
">

</div>


<h2>Funciones</h2>

<p>Las actividades mencionadas, el Estado las realiza a fin de cumplir con las funciones de Salud, Educación, Seguridad Pública, establecidas en la Constitución Nacional.</p>

<div class="col-md-12">
	<h4>¿Cómo se gasta nuestro presupuesto?</h4>
	<p>El tamaño de los circulos dependen de del monto presupuestado por función.</p>
</div>
<div class="col-md-12">
	<div class="col-md-12">

    <div class="row">

      <div class="form-group col-md-4" style="margin-top:0px;">
  <label for="sel1">Seleccionar Año:</label>
  <select class="form-control" id="sel1">
    <option>2011</option>
    <option>2012</option>
    <option>2013</option>
    <option>2014</option>
    <option>2015</option>
  </select>
</div>







    </div>
       

  <div class="btn-group  filtros filtros-burbuja" data-toggle="buttons">
        <label class="btn btn-default active" id="">
          <input type="radio" name="options"> Todos
        </label>
       

        <label class="btn btn-default" id="fuente_financiamiento">
          <input type="radio" name="options"> Fuente de Financiamiento
        </label>

        <label class="btn btn-default" id="grupo_economico">
          <input type="radio" name="options"> Grupo Economico
        </label>

          <label class="btn btn-default" id="tipo_presupuesto">
          <input type="radio" name="options"> Tipo de Presupuesto
        </label>
       

       
      </div>

      <div id="burbuja"></div>


</div>
</div>


<h2>ENTIDADES</h2>

<p>Los recursos del Presupuesto General de la Nación se reparte entre: a) las Entidades de la Administración

Central (Los ministerios, el poder legislativo y el poder judicial b) entidades Descentralizadas (Banca Central,

Gobienos Departamentales, empresas Públicas (Ande INC etc), entidadaes de Seguridad Social ( IPS), Universi-
dades nacionales, Contraloría General de la República etc.</p>


<div class="col-md-6">
	<div class="row">

      <div class="form-group col-md-4" style="margin-top:0px;">
        <label for="sel2">Seleccionar Año:</label>
        <select class="form-control" id="sel2">
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
        </select>
      </div>
    </div>
       

  <div id="treemap"></div>
  
</div>
<div class="col-md-6 ">

  <h3 class="treemap-titulo"></h3>
 <h5 class="treemap-monto"></h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Funcion</th>
        <th>Monto</th>
       
      </tr>
    </thead>
    <tbody class="treemap-datos">
      
    </tbody>
  </table>

</div>




</div>
       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

 <script src="{% static 'bubble_chart/lib/d3.js' %}"></script>
   <!-- <script src="{% static 'bubble_chart/src/tooltip.js' %}"></script>
  <script src="{% static 'bubble_chart/src/bubble_chart.js' %}"></script>-->

   <script src="{% static 'js/underscore.js' %}"></script>

 <script src="{% static 'js/burbuja.js' %}"></script>
  <!-- TREEMAP -->




<!--- El Purete treemap2-->

<script type="text/javascript">



var margin = {top: 20, right: 0, bottom: 0, left: 0},
    width = $("#treemap").width(),
    height = 500 - margin.top - margin.bottom,
    formatNumber = d3.format(",d"),
    transitioning;

var x = d3.scale.linear()
    .domain([0, width])
    .range([0, width]);

var y = d3.scale.linear()
    .domain([0, height])
    .range([0, height]);

var treemap = d3.layout.treemap()
    .children(function(d, depth) { return depth ? null : d._children; })
    .sort(function(a, b) { return a.value - b.value; })
    .ratio(height / width * 0.5 * (1 + Math.sqrt(5)))
    .round(false);

var svg = d3.select("#treemap").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.bottom + margin.top)
    .style("margin-left", -margin.left + "px")
    .style("margin.right", -margin.right + "px")
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    .style("shape-rendering", "crispEdges");

var grandparent = svg.append("g")
    .attr("class", "grandparent");

grandparent.append("rect")
    .attr("y", -margin.top)
    .attr("width", width)
    .attr("height", margin.top);

grandparent.append("text")
    .attr("x", 6)
    .attr("y", 6 - margin.top)
    .attr("dy", ".75em");

function reSortRoot(root,value_key) {
    //console.log("Calling");
    for (var key in root) {
     // console.log(key)
      if (key == "key") {
        root.name = root.key;
        delete root.key;
      }
      if (key == "values") {
        root.children = [];
        for (item in root.values) {
          root.children.push(reSortRoot(root.values[item],value_key));
        }
        delete root.values;
      }
      if (key == value_key) {
        root.value = parseFloat(root[value_key]);
        delete root[value_key];
      }
    }
    return root;
  }



function Treemap (anio) {



d3.csv("/static/treemap/entidadesFinal.csv", function(csv_data) {


         historic_csv_data =  csv_data;
          
          csv_data = csv_data.filter(function (el) {
          return el.anho == anio;
        });
      // Add, remove or change the key values to change the hierarchy. 
      nested_data = d3.nest()
             // .key(function(d)  { return d.anho; })
              .key(function(d)  { return d.nivel; })
              .key(function(d)  { return d.entidad; })
              .key(function(d)  { return d.programa; })
             // .key(function(d)  { return d.anho; })
            //  .key(function(d)  { return d.Ticket_class_description; })
              .entries(csv_data);


      
      // Creat the root node for the treemap
      var root = {};
      
      // Add the data to the tree
      root.key = "Gasto Total";
      root.values = nested_data;
    
      // Change the key names and children values from .next and add values for a chosen column to define the size of the blocks
      root = reSortRoot(root,"monto");

      console.log(root)


  initialize(root);
  accumulate(root);
  layout(root);
 console.log(root);
  display(root);

  function initialize(root) {
    root.x = root.y = 0;
    root.dx = width;
    root.dy = height;
    root.depth = 0;
  }

  // Aggregate the values for internal nodes. This is normally done by the
  // treemap layout, but not here because of our custom implementation.
  // We also take a snapshot of the original children (_children) to avoid
  // the children being overwritten when when layout is computed.
  function accumulate(d) {
    return (d._children = d.children)
        ? d.value = d.children.reduce(function(p, v) { return p + accumulate(v); }, 0)
        : d.value;
  }

  // Compute the treemap layout recursively such that each group of siblings
  // uses the same size (1×1) rather than the dimensions of the parent cell.
  // This optimizes the layout for the current zoom state. Note that a wrapper
  // object is created for the parent node for each group of siblings so that
  // the parent’s dimensions are not discarded as we recurse. Since each group
  // of sibling was laid out in 1×1, we must rescale to fit using absolute
  // coordinates. This lets us use a viewport to zoom.
  function layout(d) {
    if (d._children) {
      treemap.nodes({_children: d._children});
      d._children.forEach(function(c) {
        c.x = d.x + c.x * d.dx;
        c.y = d.y + c.y * d.dy;
        c.dx *= d.dx;
        c.dy *= d.dy;
        c.parent = d;
        layout(c);
      });
    }
  }

  function display(d) {
    grandparent
        .datum(d.parent)
        .on("click", transition)
      .select("text")
        .text(name(d));
  $(".treemap-datos").html("");

    sum = _.reduce(d._children, function(memo, num){ return memo + num.value; }, 0)

  $(".treemap-titulo").html(d.name);
  $(".treemap-monto").html("Gs. " + formatNumber( sum));

     // console.log(d._children);
      d._children.reverse().map(function(d){

        if (d.name){
          var name = d.name.slice(3) ;
        }
        $(".treemap-datos").append("<tr><td>" + name + "</td><td>"+ formatNumber(d.value) +"</td></tr>");

        
      });


        prueba = historic_csv_data.filter(function (el) {


          return el.programa ==  d.name ||  el.subprograma ==  d.name ||  el.nivel ==  d.name;
        });

        prueba1 = d3.nest()
              .key(function(d)  { return d.anho; })
              .key(function(d)  { return d.nivel; })
              .key(function(d)  { return d.entidad; })
              .key(function(d)  { return d.programa; })
              .key(function(d)  { return d.anho; })
            //  .key(function(d)  { return d.Ticket_class_description; })
              .entries(prueba);
       prueba1 = reSortRoot(prueba1,"monto");

        console.log("prueba");

        console.log(prueba1);



    var g1 = svg.insert("g", ".grandparent")
        .datum(d)
        .attr("class", "depth");

    var g = g1.selectAll("g")
        .data(d._children)
      .enter().append("g");

    


    g.filter(function(d) { return d._children; })
        .classed("children", true)
        .on("click", transition)
         .on("mouseover", function (d) { showPopover.call(this, d); })
          .on("mouseout", function (d) { removePopovers(); })
;
  
    g.selectAll(".child")
        .data(function(d) { return d._children || [d]; })
      .enter().append("rect")
        .attr("class", "child")
        .call(rect);
    var color = d3.scale.category20();
    g.append("rect")
        .attr("class", "parent")
        .style("fill", function(d) { ;return color(d.value); })
        .call(rect)
      .append("title")
        .text(function(d) { return 'Gs. '+  formatNumber(d.value); })
        ;


    g.append("text")
        .attr("dy", ".75em")
        .text(function(d) { 

          if (d.name) {
             texto_cortado =  d.name.slice(3) ;
          }
         
          //texto = texto_cortado.split;
         if (texto_cortado.length >  25)
          {
            texto_cortado = texto_cortado.slice(0,25) + "...";
          }
         
         
          //  texto_cortado = texto_cortado.slice(3) + "...";
          
          return texto_cortado; 

        })         
        
         .attr("font-weight", "bold")
         .style("opacity", function(d) { return x(d.x + d.dx) - x(d.x) > 200 /*this.getComputedTextLength()  */? 1 : 0; })
           .call(text);

     g.append("text")
        .attr("dy", "1.85em")
        .text(function(d) { return 'Gs. '+  formatNumber(d.value); })
        .style("opacity", function(d) { return x(d.x + d.dx) - x(d.x) > 175 ? 1 : 0; })
        .call(text);



    function transition(d) {
      if (transitioning || !d) return;
      transitioning = true;
      //console.log(d._children);



      var g2 = display(d),
          t1 = g1.transition().duration(750),
          t2 = g2.transition().duration(750);

      // Update the domain only after entering new elements.
      x.domain([d.x, d.x + d.dx]);
      y.domain([d.y, d.y + d.dy]);

      // Enable anti-aliasing during the transition.
      svg.style("shape-rendering", null);

      // Draw child nodes on top of parent nodes.
      svg.selectAll(".depth").sort(function(a, b) { return a.depth - b.depth; });

      // Fade-in entering text.
      g2.selectAll("text").style("fill-opacity", 0);

      // Transition to the new view.
      t1.selectAll("text").call(text).style("fill-opacity", 0);
      t2.selectAll("text").call(text).style("fill-opacity", 1).style("opacity", function(d) { return x(d.x + d.dx) - x(d.x) > 200 /*this.getComputedTextLength()  */? 1 : 0; });
      t1.selectAll("rect").call(rect);
      t2.selectAll("rect").call(rect);

      // Remove the old node when the transition is finished.
      t1.remove().each("end", function() {
        svg.style("shape-rendering", "crispEdges");
        transitioning = false;
      });
    }

    return g;
  }

  function text(text) {
    text.attr("x", function(d) { return x(d.x) + 6; })
        .attr("y", function(d) { return y(d.y) + 6; });
  }

  function rect(rect) {
    rect.attr("x", function(d) { return x(d.x); })
        .attr("y", function(d) { return y(d.y); })
        .attr("width", function(d) { return x(d.x + d.dx) - x(d.x); })
        .attr("height", function(d) { return y(d.y + d.dy) - y(d.y); });
  }

  function name(d) {
    return d.parent
        ? name(d.parent) + " > " + d.name
        : d.name;
  }
});

}// End Treemap

Treemap("2015");

   


 function removePopovers () {
          $('.popover').each(function() {
            $(this).remove();
          }); 
        }

        function showPopover (d) {
          $(this).popover({
            placement: 'auto top',
            container: 'body',
            trigger: 'manual',
            html : true,
            content: function() { 
            //  console.log(d);
              return "<h5>"+ d.parent.name+"</h5><hr><br/> <b>Funcion:</b> " + d.name.slice(3) + 
                    "<br/><b>Monto:</b> Gs. " + formatNumber(d.value); ; 
            }
          });
          $(this).popover('show')
        }





    $( "#sel2" ).change(function(){


$("#treemap .depth").remove();
Treemap($('#sel2 option:selected').text());
   


   
});



</script>


<script type="text/javascript">
  





</script>


    {% endblock %}