{% extends "base.html" %}
{% load staticfiles %}

					

  {% block contenido%}



    <div class="container container-principal ciclo">



		<div class="bg-amarillo row header-titulo">
			<div class="col-md-12">

				<div class="">
					<div class="col-md-6 titulo">
						<h1 class="wow fadeInLeft">Sobre el Proyecto</h1>
						
					</div>

					<div class="col-md-6 text-center">
						
					</div>
				</div>
				
			</div>
			
		</div>
<div class="row">
				<div class="col-md-12">

				<p>El proyecto “Presupuesto Ciudadano” es desarrollado a través del Programa de Fortalecimiento de la Gestión Financiera Pública en América Latina y el Caribe (PFM-LAC, por sus siglas en inglés) con la cooperación de la Agencia de los Estados Unidos para el Desarrollo Internacional (USAID, por sus siglas en inglés) e implementado por el Centro de Estudios Ambientales y Sociales (CEAMSO).

</p>

<p>El objetivo principal del proyecto “Presupuesto Ciudadano” es generar una Guía y Plataforma digital del Presupuesto General de la Nación (PGN) que explique y resuma el PGN en lenguaje amigable permitiendo a la ciudadanía entender el proceso presupuestario.

</p>

<p>Este material es publicado gracias al apoyo de la Agencia de los Estados Unidos para el Desarrollo Internacional (USAID). El contenido del mismo es exclusiva responsabilidad de sus autores y no refleja necesariamente las opiniones o puntos de vista de USAID o el Gobierno de los Estados Unidos.</p>

<h3>Equipo Técnico</h3>

<h4>MINISTERIO DE HACIENDA</h4>
					<ul>
						<li>Director General de Presupuesto: Oscar Lovera</li>
						<li>Coordinación Técnica y de Difusión: Elba Mencia</li>
						<li>Coordinación Sectorial: Dora Ocampos</li>
						<li>Dpto. Desarrollo Social: Rosa Coronel</li>
						<li>Dpto. Evaluación del Gasto Público: Monserrat Díaz</li>
						<li>Dpto. Control y Monitoreo del Gasto Público: Amada Silguero</li>
						<li>Dpto. Seguridad, Poder Legislativo y Judicial: Alicia Moyano</li>
						<li>Conduccion Superior y Otros: Jorge Fernandez</li>
						<li>Dpto. Gobiernos Departamentales y Universidades Nacionales: Derlys Martinez</li>
						<li>Planificacion Presupuestaria: Gilda Lorena Arias</li>
						<li>Asesora Gabinete del Ministro: GUILLERMINA FRIZZA</li>
					</ul>
		<h4>CEAMSO</h4>		

		<ul>
				<li>María Ofelia Yegros</li>
				<li>Gissela Peralta</li>
				<li>Arnaldo Morales Cocuesta</li>
				<li>Pilar Cabrera</li>
				<li>Leonardo Gómez Berniga</li>
				<li>Margarita Rojas</li>
				<li>Rodrigo Valdez</li>
				<li>Gabriela Porro</li>
				
		</ul>	

			


				</div>
</div>

</div>
    {% endblock %}