

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




@font-face {
  font-family: 'Badabb';

  src: url('/static/fonts/BADABB.woff') format('woff'), /* Pretty Modern Browsers */
       url('/static/fonts/BADABB.TTF')  format('truetype'); /* Safari, Android, iOS */
     
}


@font-face {
  font-family: 'animeace';

  src: url('') format('woff'), /* Pretty Modern Browsers */
       url('/static/fonts/animeace2_reg.ttf')  format('truetype'); /* Safari, Android, iOS */
     
}


@font-face {
  font-family: 'animeace';

  src: url('') format('woff'), /* Pretty Modern Browsers */
       url('/static/fonts/animeace2_ital.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
     
}

@font-face {
  font-family: 'animeace';

  src: url('') format('woff'), /* Pretty Modern Browsers */
       url('/static/fonts/animeace2_bld.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
     
}



body {

	font-family:  'Open Sans';
      font-size: 16px;

}
li {
    font-size: 16px;
}

h1	{
	font-family: 'animeace';
}

footer  {
  font-family: 'animeace';
}

.jumbotron2 h1 {

  font-family: 'Badabb';

}

h2, h3,h4, h5	{
	font-family:  'animeace';
}

.jumbotron2 h2 {
    font-size: 14px;
}

img.congreso {
       position: relative;
    /* top: 0px; */
    text-align: center;
    top: -7px;
    width: 340px;
    left: -60px;;
}


.caja {
        border: solid 2px #333;
    border-radius: 2px;
    padding: 10px 20px;
   /* overflow: hidden;*/
    background:white;
}

.caja.doble {
    height: 200px;
   
}

.doble img.img-responsive {
   /* max-height: 150px;*/
}


.bg-amarillo {
  background: #ffea8c !important;
}

.bg-gris {
  background: #eeeeee !important;
}


.bg-verde {
  background: #c1d995 !important;
}

.bg-lila {
  background: #dedfde !important;
}

.bg-rojo {
  background: #e6a7a8 !important;
}



img.familia {
      position: relative;
    bottom: 30px;
    width: 225px;
}

.btn-transparencia {
  background: rgba(0, 0, 0, 0.47) !important;
  color: white !important;
}

.btn-transparencia:hover {
  background: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
}
/*
.jumbotron {
     background-image: url('../img/personitas-01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;


}*/

.jumbotron2 {
    padding-top: 0px;
    padding-bottom: 30px;
}

.jumbotron2 h1{
  font-size: 60px;

}


.financiacion img.dinero{
width: 50%;
}




.financiacion .grafico {
  width: 70%;
}


 .titulo {
    margin-top: 50px;
    text-align: left;
}


.img-card {
  width: 200px;
}


.container p {
      font-size: 16px;
}


.container.front-page {
   background: #FAFAFA;
}

hr {
      border-top: solid #ddd 2px;
          width: 50%;
}

footer {
    background: #BDBDBD;
    padding: 20px 0px;
}


a.btn.btn-default {
    border: solid 2px black;
    border-radius: 0px;
    font-family: 'animeace';
}

.navbar.navbar-inverse {
    background-color: #333333;
    color: #fff;
     font-family: 'animeace';
}



.container-principal {
  padding-top: 9px;
    padding-bottom: 30px;
    background: #FAFAFA;
    font-family: "Open Sans";
    padding-left: 15px;
    padding-right: 15px;}


.ciclo img.ciclo{
width: 50%;
margin-top: 51px;
}

.ciclo {
 
}

.container.container-principal.gastos {
    background: white;
}


.nino {
  width:30%;display: inline;
}


.margin {
  margin-bottom: 30px;
}

.moneda-gasto {
  width: 60%;
  margin-top: 60px;
}

.header-titulo {
    margin-bottom: 30px;
}
@media (max-width: 600px) {
.caja {
    margin-bottom: 50px;
    height: auto !important;
}





.nino {
  width:70%;display: inline;
}



}



/* *********************************
TREE MAP ******************/


#chart {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#chart .title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}
#chart text {
  pointer-events: none;
}

#chart .grandparent text {
  font-weight: bold;
}

#chart  rect {
  fill: none;
  stroke: #fff;
}

#chart rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

#chart rect.parent {
    pointer-events: none;
}

#chart .grandparent rect {
  fill: orange;
}

#chart .grandparent:hover rect {
  fill: #ee9700;
}

#chart .children rect.parent,
#chart .grandparent rect {
  cursor: pointer;
}

#chart .children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

#chart .children:hover rect.child {
  fill: #bbb;
}
/* END TREMAP ****/